@model PotentialForAfrica.Models.CandidatModel

@{
    ViewData["Title"] = "Delete";
}


<h3>Voulez vous supprimer cette candidature?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telehone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telehone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NiveauEtude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NiveauEtude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbreAnneeExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbreAnneeExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DernierEmployeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DernierEmployeur)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CandidatId" />
        <input type="submit" value="supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
