@model IEnumerable<PotentialForAfrica.Models.CandidatModel>

@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.message != null)
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@ViewBag.message</strong>
    </div>
}
<h1>Liste des candidatures</h1>
<table class="table" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telehone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NiveauEtude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbreAnneeExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DernierEmployeur)
            </th>
            <th>
               CV
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telehone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NiveauEtude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbreAnneeExperience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DernierEmployeur)
                </td>
                <td>
                    <a href="~/@item.CVPath" target="_blank"> cv2</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.CandidatId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });

    </script>

}